
.container-fluid {
	padding: 0;
}

.flush {
	margin: 0;
}


.main ul {
	padding: 0;
	list-style-type: none;
	margin-top: 50px;
}

 li {
	/*text-align: left;*/
	/*margin-bottom: 30px;*/
	/*background-color: red;
	border: 1px solid black;*/
} 

h1.name {
	font-family: Lato, sans-serif;
	font-size: 1.25em;
	color: slategrey;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 5px;
	margin: 0;

}

.intro {
	background-color: mintcream;

}

.nav {
	padding-top: 15px;
}

.nav li {
	font-family: Lato, sans-serif;
	font-size: .75em;
	color: slategrey;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 3px;
}

.nav .center {
	display: inline-block;
	float: none;
	text-align: center;
}

.nav .text-left {
	padding-left: 65px;
}

.nav .text-left a{
	color: slategrey;
}

.nav .text-left a:hover {
	color: #f26c39;
	text-decoration: none;
}

.nav .text-right {
	padding-right: 65px;
}

.monthLabel {
	padding-top: 100px;
}

.month {
/*Styles month headers*/
	padding: 10px 30px 10px 30px;
	font-size: 1em;
	font-family: Lato, sans-serif; 
	font-weight: 700;
	letter-spacing: 5px;
	color: mintcream;
	background-color: #f26c39;
	border-style: solid;
	border-left: 2px;
	border-top: 2px;
	border-color: mintcream;


	display:inline-block;
	/*margin-left: 65px;
	width: 168px;*/


}

.main {
	padding: 0 0 60px 0;
	margin: none;
	background-color: #DE6DA5;
}


.goal {
	padding: 40px 50px 50px 50px;
	background-color: none;
	min-height: 350px;
	max-height: 350px;
	overflow: hidden;
	color: mintcream;



}


.goal h2 {
/*Styles goal headers*/	
	font-family: 'Playfair display', serif;
	font-size: 3em;
	margin-bottom: 50px;
	
}

.goal p{
	padding-top: 30px;
	font-family: 'Lato', serif;
	font-weight: 400;
	letter-spacing: 3px;
	font-size: .75em;
	line-height: 2em;
	border-top: 1px solid thistle;
}


/*.equal, .equal > div[class*='col-'] {  
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex:1 0 auto;
}

.panel {
	width:100%;
}*/




